<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Q_ANIP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B0CB88E1F789BCD00646D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B0CB8A21F789BCE00646D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B0CB8AD1F789BCE00646D02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
